@font-face {
    font-family: 'PPEiko-Heavy';
    src: url(Font/PPEiko-Heavy.ttf) format('ttf'),
    url(Font/PPEiko-Heavy.woff) format('woff');
}
@font-face {
    font-family: 'PPEiko-Medium';
    src: url(Font/PPEiko-Medium.ttf) format('ttf'),
    url(Font/PPEiko-Medium.woff) format('woff')
}
@font-face {
    font-family: 'PPEiko-Regular';
    src: url(Font/PPEiko-Regular.ttf) format('ttf'),
    url(Font/PPEiko-Regular.woff) format('woff')
}
@font-face {
    font-family: 'PPEiko-MediumItalic';
    src: url(Font/PPEiko-MediumItalic.ttf) format('ttf'),
    url(Font/PPEiko-MediumItalic.woff) format('woff')
}
@font-face {
    font-family: 'PPEiko-LightItalic';
    src: url(Font/PPEiko-LightItalic.ttf) format('ttf'),
    url(Font/PPEiko-LightItalic.woff) format('woff')
}
  
  
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #dbdde4;
    color: #4b67b1;
}
  
a{
    position: relative;
    text-decoration: none;
    color:#4b67b1;
}
  
a:hover{
    color: #ee67e0;
}

.nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 10px 20px;
    font-family: "PPEiko-Medium";
}
  
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: +1;
    font-family: "PPEiko-Medium";
}
  
.header {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
}

/*slider*/

